@media all and (min-width: 1220px) {
    div.footer {
        height: 144px;
        background-color: #333333;
        position: relative;
        margin-top: 400px;
        padding: 30px 0 0 0;
    }

    div.footer > .footer-container {
        width: 1064px;
        height: 100px;
        margin: 0 auto;
    }

    div.footer > .footer-container p{
        line-height: 40px;
        display: block;
        margin-top : 20px;
    }

    div.footer > .footer-container span {
        color: white;
        font-size: 24px;
        vertical-align: middle;
    }

    div.footer > .footer-container img {
        width: 26px;
        height: 26px;
        vertical-align: middle;
    }

    span.float-right {
        float: right;
    }
}

@media all and (max-width: 768px) or (min-width: 768px){
    div.footer {
        height: 114px;
        background-color: #333333;
        position: relative;
        font-size: 1.4rem;
    }

    div.footer > .footer-container {
        width : 100%;
        height : 114px;
        position: relative;
        text-align: center;
    }

    div.footer > .footer-container p {

    }
}
