div.footer{
    height : 144px;
    background-color: #333333;
    position:relative;
    margin-top: 400px;
    padding : 30px 0 0 0;
}

div.footer > .footer-container {
    width : 1064px;
    height : 100px;
    margin : 0 auto;
}

div.footer > .footer-container  p {
    line-height: 40px;
    display: block;
}

div.footer > .footer-container  span{
    color : white;
    font-size:24px;
    vertical-align: middle;
}

div.footer > .footer-container img{
    width : 26px;
    height: 26px;
    vertical-align: middle;
}

span.float-right {
    float:right;
}