@import "header.css";
@import "./ads.css";
@import "./intro.css";
@import "./pro.css";
@import "footer.css";

*{
    margin: 0 0;
    padding : 0 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html,html body {
    margin:0 auto;
    max-width : 1950px;
    font-size : 10px;
    background-color: white;
}

div.con {
    position:relative;
    width : 100%;
    height : auto;
}

.text-left {
     text-align: left;
}

.text-right {
    text-align: right;
}

.text-indent {
    text-indent: 20px;
}

.clearfix {
    clear:both;
}

li > a{
    text-decoration: none;
    cursor: pointer;
    color : white;
}