div.pro {
    background-color: #efefef;
    height : 972px;
    width : 100%;
}

div.pro > div.pro-content {
    width : 1100px;
    height : 972px;
    margin : 0 auto;
    position : relative;
    text-align: center;
    padding-top : 70px;
    padding-bottom: 114px;
}

div.pro > div.pro-content .pro-title{
    font-size : 44px;
    color : black;
}

div.pro > div.pro-content .list-container{
    margin-top: 114px;
    width : 100%;
    height : auto;
}

div.pro > div.pro-content .list{
    float : left;
    height : 114px;
    width : 510px;
    text-align: left;
    margin-left:30px;
    margin-top : 40px;
}

div.pro > div.pro-content .list img{
    width : 114px;
    height:114px;
    border-radius: 30px;
}

div.pro > div.pro-content .list .list-info{
    text-align: left;
    float : right;
    width : 360px;
    height : 85px;
}

div.pro > div.pro-content .info-title{
    font-size : 30px;
}


div.pro > div.pro-content .list .info-content{
    font-size : 24px;
    width : 360px;
    color : grey;
}

